@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@layer utilities {
  .stroke-dash-highlight {
    stroke-dasharray: var(--stroke-highlight-length, 300) var(--stroke-space-length, 100);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}

:root {
  color-scheme: light dark;
}
